<h3 class="section-title">Education</h3>
<dl class="education">
	{% for qualification in site.data.education %}
	<dt>
		<p class="title">{{ qualification.qualification }}</p>
		<p class="company">{{ qualification.school }}</p>
		<p class="period">{{ qualification.period }}</p>
	</dt><!--
	--><dd>
			{% for info in qualification.description %}
			<ul>
				<li style="list-style-type: circle;"> {{ info }} </li>
			</ul>
			{% endfor %}
		</dd>
	{% endfor %}
</dl>

<h3 class="section-title">Experience</h3>
<dl class="experience">
	{% for job in site.data.jobs %}
	<dt>
		<p class="title">{{ job.title }}</p>
		<p class="company">{{ job.company }}</p>
		<p class="period">{{ job.period }}</p>
	</dt><!--
	--><dd>
			{% for info in job.description %}
			<ul>
				<li style="list-style-type: circle;"> {{ info }} </li>
			</ul>
			{% endfor %}
	</dd>
	{% endfor %}
</dl>

<h3 class="section-title">Projects</h3>
<dl class="experience">
	{% for project in site.data.projects %}
	<dt>
		<p class="title">{{ project.title }}</p>
		{{ if project.github }}<a href="http://github.com/{{ site.github_username }}/{{project.github}}" target="_blank">GitHub</a>{{ endif }}
		{{ if project.poop }}<a href="{{ project.heroku }}" target="_blank">Heroku</a>{{ endif }}
		<p class="period">{{ job.period }}</p>
	</dt><!--
	--><dd>
			{% for info in project.description %}
			<ul>
				<li style="list-style-type: circle;"> {{ info }} </li>
			</ul>
			{% endfor %}
	</dd>
	{% endfor %}
</dl>




